@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: rgb(1, 1, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

/* Nav  */

.nav {
  background-color: black;
}

.jedi:hover {
  color: rgb(0, 195, 255);
}

.sith:hover {
  color: rgb(207, 14, 14);
}

.nav-group {
  margin-bottom: 4px;
}

/* About me */

.resume-btn {
  background-color: rgb(11, 66, 219);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.resume-btn:hover {
  background-color: rgb(219, 13, 13);
  cursor: pointer;
}

.about-content {
  text-align: center;
  margin-top: 25px;
}

.about-content h1 {
  font-size: 55px;
}

.about-me {
  font-size: 25px;
  font-weight: 600;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .about-content img {
    width: 40%;
  }
  .about-content h1 {
    font-size: 40px;
  }
  .about-me {
    font-size: 20px;
    width: 80%;
  }

  .resume-btn {
    width: 100%;
  }

  .about-me p {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .about-content img {
    width: 50%;
  }
  .about-content h1 {
    font-size: 30px;
  }
  .about-me {
    font-size: 15px;
    width: 90%;
  }

  .resume-btn {
    width: 100%;
  }

  .about-me p {
    font-size: 10px;
  }
}

.divider {
    width: 100%;
    min-height: 130px;
    background: #00909c;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
}

/* Skills */

.skills-section {
  height: auto;
  background-color: #104166;
}

.container h1 {
  font-size: 50px;
  text-align: center;
}

#title {
  padding-top: 15px;
}

.front-end,
.back-end,
.other {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.front-end,
.back-end,
.other {
  height: auto;
  margin-bottom: 3rem;
}

.skill-content h3 {
  margin-top: 3rem;
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-content > div {
  width: 100%;
}

.skill-content > div h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


.icon {
  margin: 0.5rem;
  text-align: center;
}

.skills-text {
  margin-top: 1rem;
  margin-left: 1rem;
}

.skill-content h3 {
  font-weight: 700;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 40px;
  }
  
  .front-end,
  .back-end,
  .other {
    margin-top: 2rem;
  }
  
  .front-end img,
  .back-end img,
  .other img {
    width: 80%;
    max-width: 100px;
  }

  
  .skill-content > div {
    width: 90%;
  }
  
  .skills-container {
    margin-left: 0;
  }
}

/* Projects */

.projects-section {
  height: auto;
  background-color: #104166;
}

.projects-section h1 {
  font-size: 50px;
}

.portfolio-info p {
  font-size: 20px;
  font-weight: 600;
}

#portfolio .portfolio-item-wrapper {
  width: 75%;
  margin: 0 auto;
}


#portfolio .project-img img {
  max-width: 100%;
  width: 100%;
  opacity: 1.0;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.portfolio-item {
  margin-top: 2rem;
}

.project-info h2,
.project-info p {
  margin-top: 2rem;
}

.project-info h2 {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
}

.project-info button {
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  width: 10%;
}

.project-info p {
  font-size: 20px;
  font-weight: 400;
}

.portfolio-row {
  margin-bottom: 4rem;
}

.tech-used {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.tech {
  margin-left: 2rem;
}

.tech-used p{
  background-color: lightgray;
  width: auto;
  text-align: center;
  font-weight: 600;
  color: #000000;
}

.project-img {
  margin-top: 2.5rem;
  margin-right: 5rem;
  min-width: auto;
  
}

.project-div {
  display:flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  #title {
    font-size: 35px;
    padding-top: 5rem;
  }
  .project-info p {
    font-size: 15px;
  }
  .project-info a img {
    width: 20%;
    margin-left: 4rem;
  }
  .project-img {
    margin-top: 7rem;
    margin-right: 1rem;
  }
}