@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* Nav  */

.nav {
  background-color: black;
}

.jedi:hover {
  color: rgb(0, 195, 255);
}

.sith:hover {
  color: rgb(207, 14, 14);
}

.nav-group {
  margin-bottom: 4px;
}
/* 
About me */

.resume-btn {
  background-color: rgb(11, 66, 219);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.resume-btn:hover {
  background-color: rgb(219, 13, 13);
  cursor: pointer;
}

.about-content {
  text-align: center;
  margin-top: 25px;
}

.about-content h1 {
  font-size: 55px;
}

.about-me {
  font-size: 25px;
  font-weight: 600;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .about-content img {
    width: 40%;
  }
  .about-content h1 {
    font-size: 40px;
  }
  .about-me {
    font-size: 20px;
    width: 80%;
  }

  .resume-btn {
    width: 100%;
  }

  .about-me p {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .about-content img {
    width: 50%;
  }
  .about-content h1 {
    font-size: 30px;
  }
  .about-me {
    font-size: 15px;
    width: 90%;
  }

  .resume-btn {
    width: 100%;
  }

  .about-me p {
    font-size: 10px;
  }
}

/* Skills */

.skills-section {
  height: auto;
  background-color: #104166;
}

.container h1 {
  font-size: 50px;
  text-align: center;
}

.front-end,
.back-end,
.other {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.front-end,
.back-end,
.other {
  height: auto;
  margin-bottom: 2rem;
}

.skill-content h3 {
  margin-top: 3rem;
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-content > div {
  width: 100%;
}

.skill-content > div h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


.icon {
  margin: 0.5rem;
  text-align: center;
}

.skills-text {
  margin-top: 1rem;
  margin-left: 1rem;
}

.skill-content h3 {
  font-weight: 700;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 40px;
  }
  
  .front-end,
  .back-end,
  .other {
    margin-top: 2rem;
  }
  
  .front-end img,
  .back-end img,
  .other img {
    width: 80%;
    max-width: 100px;
  }

  
  .skill-content > div {
    width: 90%;
  }
  
  .skills-container {
    margin-left: 0;
  }
}




