@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: rgb(1, 1, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

/* Nav  */

.nav {
  background-color: black;
}

.jedi:hover {
  color: rgb(0, 195, 255);
}

.sith:hover {
  color: rgb(207, 14, 14);
}

.nav-group {
  margin-bottom: 4px;
}

/* About me */

.resume-btn {
  background-color: rgb(11, 66, 219);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.resume-btn:hover {
  background-color: rgb(219, 13, 13);
  cursor: pointer;
}

.about-content {
  text-align: center;
  margin-top: 25px;
}

.about-content h1 {
  font-size: 55px;
}

.about-me {
  font-size: 25px;
  font-weight: 600;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .about-content img {
    width: 40%;
  }
  .about-content h1 {
    font-size: 40px;
  }
  .about-me {
    font-size: 20px;
    width: 80%;
  }

  .resume-btn {
    width: 100%;
  }

  .about-me p {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .about-content img {
    width: 50%;
  }
  .about-content h1 {
    font-size: 30px;
  }
  .about-me {
    font-size: 15px;
    width: 90%;
  }

  .resume-btn {
    width: 100%;
  }

  .about-me p {
    font-size: 10px;
  }
}

/* Skills */

.skills-section {
  height: auto;
  background-color: #104166;
}

.container h1 {
  font-size: 50px;
  text-align: center;
}

.front-end,
.back-end,
.other {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.front-end,
.back-end,
.other {
  height: auto;
  margin-bottom: 3rem;
}

.skill-content h3 {
  margin-top: 3rem;
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-content > div {
  width: 100%;
}

.skill-content > div h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


.icon {
  margin: 0.5rem;
  text-align: center;
}

.skills-text {
  margin-top: 1rem;
  margin-left: 1rem;
}

.skill-content h3 {
  font-weight: 700;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 40px;
  }
  
  .front-end,
  .back-end,
  .other {
    margin-top: 2rem;
  }
  
  .front-end img,
  .back-end img,
  .other img {
    width: 80%;
    max-width: 100px;
  }

  
  .skill-content > div {
    width: 90%;
  }
  
  .skills-container {
    margin-left: 0;
  }
}

/* Projects */

.projects-section {
  height: 100vh;
  background-color: #104166;
}

.projects-section h1 {
  font-size: 50px;
  padding-top: 25px;
}

#portfolio .portfolio-item-wrapper {
  width: 31%;
  margin: 0 1% 30px;
}

#portfolio .portfolio-item {
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#portfolio .portfolio-item img {
  max-width: 100%;
  width: 100%;
  opacity: 1.0;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#portfolio .links {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
}


#portfolio .portfolio-item:hover .portfolio-overlay,
#portfolio .portfolio-item:hover .links {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

#portfolio .portfolio-item:hover .portfolio-info {
  bottom: 0;
}

#portfolio .portfolio-info h3 {
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}
